---
import Layout from '../layouts/Page.astro';
import Widget from '../components/Widget.astro';
---

<Layout>
  <Widget
    title="Lorem ipsum lorem"
    subtitle="At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti"
  />

  <div class="text-center p-4">
    <a class="text-blue-500 underline" href=".">To bad example »</a>
  </div>
</Layout>
